#container {
    width: 100%;
    height: 100%;
    background: #fff8ef;
}

header {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: #36dd36;
    height: 55px;
    width: calc(100% - 50px);
    right: 0px;
    padding: 5px 10px 5px 10px;
    transition: width .4s;
}

header div {
    height: 28px;
    width: 28px;
}

#wrapper-menu {
    display: flex;
    flex-direction: column;
    width: 50px;
    background: #303030;
    height: 100%;
    transition: width .4s;
    align-items: center;
    justify-content: space-between;
}

#wrapper-top-menu-tabs {
    height: 50px;
    width: 100%;
}

#wrapper-bottom-menu-tabs {
    height: 50px;
    width: 100%;
}

.images-menu {
    width: 28px;
    height: 28px;
    margin: 6px 0 6px 0;
    color: #fff;
    cursor: pointer;
    filter: invert(99%) sepia(3%) saturate(6057%) hue-rotate(296deg) brightness(109%) contrast(106%);   
}

.wrapper-menu-tabs {
    padding: 5px 6px 5px 5px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    height: 50px;
}

.wrapper-img-menu-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-img-menu-tabs-background {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #36dd36;
    width: 100%;
    height: 100%;
}

.right-align-img-menu {
    align-items: flex-end;
    justify-content: flex-end;
}

.border-img-menu {
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;    
}

.wrapper-span-menu-tabs {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2px;
    background: #303030;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;    
    overflow: hidden;
}

#wrapper-logo-and-title {
    display: flex;
    width: 100%;
    height: 55px;
    background: #303030;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#wrapper-logo {
    display: flex;
    width: 32%;
    align-items: center;
    justify-content: center;
}

#wrapper-title {
    display: none;
    width: 68%;
    align-items: center;
    font-size: 15px;
    font-weight: 800;
    color: white;
}

#wrapper-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 55px);
    width: calc(100% - 50px);;
    position: absolute;    
    bottom: 0;
    right: 0;
    transition: width .4s;
}

#wrapper-content-center {
    display: flex;
    width: 100%;
    height: 100%;    
    justify-content: center;
    align-items: center;
}

.images-header {
    width: 28px;
    height: 28px;
    color: #fff;
    cursor: pointer;
    filter: invert(99%) sepia(3%) saturate(6057%) hue-rotate(296deg) brightness(109%) contrast(106%);
}

#object-loading {
    width: 100%;
    height: 100%;
}

#frame-await-window {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#frame-modal-records {
    width: 100%;
    height: 100%;    
    display: none;
}

#frame-content-request {
    width: 100%;
    height: 100%;    
    display: flex;
}

#frame-modal-new-dish {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#frame-modal-about {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#frame-modal-new-client {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#frame-modal-new-user {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#frame-modal-configurations {    
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: none;
}

#wrapper-img-arrow {
    transform: rotate(0deg);
    transition: transform .4s;
}

.rotated-back {
    transform: rotate(180deg);
}

.inactive {
    background: #303030;
}